@use "./resets";
@use "./typography";
@use "./variables" as *;
@use "./mixins" as *;

body {
	position: relative;
	font-family: "Arcade", "Courier New", Courier, monospace;
	font-size: 0.8rem;
	height: 100%;
	min-height: 97vh;
	overflow: hidden;
	background-color: $background-secondary-color;
	color: $font-primary-color;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none; /* for Chrome, Safari, and Opera */
	}

	@include tablet-breakpoint {
		font-size: 1rem;
	}
}

main {
	z-index: 3;
}

//* Header
.header {
	&__title {
		@include heading;
		display: flex;
		flex-flow: wrap row;
		gap: 1rem;
		justify-content: center;
		@include tablet-breakpoint {
			flex-direction: row;
		}

		&-word-container {
			position: relative;
			display: flex;
			justify-content: center;
		}

		&-word {
			background: $title-gradient;
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			// -webkit-text-stroke: 0.1px black; /* width and color */
			z-index: 1;

			&--shadow {
				z-index: 0;
				position: absolute;
				-webkit-text-fill-color: transparent;
				text-shadow: 2px 4px 2px blue;

				@include tablet-breakpoint {
					font-size: 3.9rem;
					text-shadow: 2px 9px 2px blue;
				}
			}
		}
	}
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}
