@use "./variables" as *;
@use "./typography" as *;

// Media queries
@mixin mobile-breakpoint {
	@media (min-width: 512px) {
		@content;
	}
}

@mixin tablet-breakpoint {
	@media (min-width: $tablet-screen-size) {
		@content;
	}
}

@mixin desktop-breakpoint {
	@media (min-width: $desktop-screen-size) {
		@content;
	}
}

@mixin btn {
	font-family: "Arcade";
	background-color: $highlight-color;
	color: $background-secondary-color;
	box-shadow: 4px 4px 0px 4px $highlight-second;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 0.625rem;
	text-align: center;

	&:active {
		background-color: $highlight-second;
	}

	@include tablet-breakpoint() {
		font-size: 1.5rem;
	}

	@include desktop-breakpoint() {
		&:hover {
			background-color: $highlight-second;
		}
	}
}

@mixin btn-large {
	font-family: "Arcade";
	background-color: $highlight-color;
	color: $background-secondary-color;
	border: none;
	box-shadow: 4px 4px 0px 4px $highlight-second;
	border-radius: 0.625rem;
	font-size: 1.5rem;
	padding: 1rem 1.5rem;
	margin: 0 auto;
	line-height: 2.5rem;
	text-align: center;

	&:active {
		background-color: $highlight-second;
		box-shadow: 4px 4px 0px 4px $highlight-color;
	}

	@include desktop-breakpoint() {
		&:hover {
			background-color: $highlight-second;
			box-shadow: 4px 4px 0px 4px $highlight-color;
		}
	}
}

@mixin heading {
	font-family: "ArcadeInterlaced", "Arcade";
	margin: 1.5rem 0;
	font-size: 2.5rem;
	text-transform: uppercase;
	color: $font-primary-color;

	@include tablet-breakpoint() {
		font-size: 4rem;
	}
}

@mixin sub-heading {
	margin: 1.5rem 0;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: $font-primary-color;

	@include tablet-breakpoint() {
		font-size: 2rem;
	}
}

@mixin table-heading {
	margin-bottom: 1rem;
	font-size: 1rem;
	text-transform: uppercase;
	color: $font-primary-color;

	@include tablet-breakpoint() {
		font-size: 1.5rem;
	}
}

@mixin inputs {
	font-size: 0.8rem;

	@include mobile-breakpoint() {
		font-size: 0.9rem;
	}

	@include tablet-breakpoint() {
		font-size: 1rem;
	}
}

@mixin clear-text {
	font-family: "AvenirNext", Arial, Helvetica, sans-serif;
}
