@use "../../../partials/global";
@use "../../../partials/mixins" as *;
@use "../../../partials/variables" as *;

body {
	min-height: 100vh;
	display: grid;
}

.header {
	justify-content: center;
}

main {
	margin-top: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

//* Register to play

.registration-form {
	margin-top: auto;

	&__content {
		padding: 1rem;
		text-align: center;
	}

	&__heading {
		@include sub-heading;
	}

	&__sub-heading {
		@include table-heading;
		margin-top: 1rem;
	}

	&__game-options {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__difficulty-option,
	&__limit-option {
		position: absolute;
		opacity: 0;
		width: 0;
	}

	&__label,
	&__limit-label {
		text-transform: uppercase;
		display: inline-block;
		padding: 0.3rem;
		width: 10rem;

		&--active {
			background-color: $success-color;
			color: $font-white;
		}
	}

	&__username {
		font-family: "Arcade";
		font-size: 0.7rem;
		height: 2rem;
		border: none;
		background-color: $background-secondary-color;
		text-align: center;
		caret-color: $highlight-color;
	}

	&__start-section {
		position: relative;
	}

	&__background-photo {
		// https://jsfiddle.net/pyojwq77/1/
		background-image: url("../../../assets/images/sheldon-cooper-background.jpg");
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		font-size: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		@include tablet-breakpoint {
			background-size: cover;
		}
	}

	&__overlay {
		position: absolute;
		background: linear-gradient(purple, pink);
		opacity: 60%;
		width: 100%;
		height: 100%;
	}

	&__start-content {
		position: relative;
		z-index: 1;
		margin: auto;
		padding: 3rem 1rem;
	}

	&__submit-title {
		@include heading;
		font-weight: bold;
		color: $font-white;
	}

	&__submit {
		@include btn-large;
	}
}
