@use "../../../partials/global";
@use "../../../partials/mixins" as *;
@use "../../../partials/variables" as *;

//* Register to play
.registration-form {
	margin-top: auto;
	display: flex;
	flex-direction: column;

	&__content {
		padding: 0 1rem;
		text-align: center;
	}

	&__heading {
		@include sub-heading;
	}

	&__sub-heading {
		@include table-heading;
		margin-top: 1rem;
	}

	&__game-options {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
	}

	&__difficulty-option,
	&__limit-option {
		position: absolute;
		opacity: 0;
		width: 0;
	}

	&__label,
	&__limit-label {
		text-transform: uppercase;
		display: inline-block;
		padding: 0.3rem;
		width: 10rem;
		color: $font-secondary-color;

		&--active {
			color: $font-primary-color;
			background-color: $success-color;
		}
	}

	&__username {
		font-family: "Arcade";
		font-size: 0.8rem;
		height: 2rem;
		border: none;
		background-color: $background-secondary-color;
		color: $highlight-color;
		text-align: center;
		caret-color: $highlight-color;
	}

	&__start {
		margin-top: auto;

		&-content {
			z-index: 1;
		}
	}

	&__submit-title {
		@include heading;
		font-family: "Arcade";
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 90px;
		color: $font-primary-color;
		background: transparent;
		outline: none;
		border: none;
		width: 100%;
		text-align: center;
		margin: auto;
		letter-spacing: 5px;
		text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe,
			4px 0 0 #4405fc;
		animation: blink 1s steps(4, start) infinite;
		padding: 0 1rem;
	}
}

@keyframes blink {
	to {
		visibility: hidden;
	}

	// &__background-photo {
	// 	// https://jsfiddle.net/pyojwq77/1/
	// 	background-image: url("../../../assets/images/sheldon-cooper-background.jpg");
	// 	background-position: top center;
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	font-size: 0;
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100%;
	// 	margin: auto;
	// 	top: 0;
	// 	left: 0;
	// 	bottom: 0;
	// 	right: 0;

	// 	@include tablet-breakpoint {
	// 		background-size: cover;
	// 	}
	// }

	// &__overlay {
	// 	position: absolute;
	// 	background: linear-gradient(purple, pink);
	// 	opacity: 60%;
	// 	width: 100%;
	// 	height: 100%;
	// }
}
