// Font colors
$font-primary-color: #2e2e2e;
$font-secondary-color: #7c7c7c;
$font-white: #ffffff;

// Highlight color
$highlight-color: #ffdf6c;

// Error color
$error-color: #cc7363;

// Correct color
$success-color: olive;

// Background color
$background-secondary-color: #e5e5e5;
