@use "./resets";
@use "./colors" as *;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  height: 10rem;
  background-color: $font-primary-color;
  position: relative;
  padding: 5% 0;
  &__sign {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: $font-white;
  }
}
