@use "./resets";
@use "./colors" as *;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: $background-secondary-color;
  color: $font-secondary-color;
  padding: 0.5rem 1rem;
  &:hover {
    background-color: $highlight-color;
  }
}
