// Breakpionts for media queries
$tablet-screen-size: 768px;
$desktop-screen-size: 1280px;

// Font colors
$font-primary-color: #2e2e2e;
$font-secondary-color: #7c7c7c;
$font-white: #ffffff;

// Highlight color
$highlight-color: #ffdf6c;

// Error color
$error-color: #e2482d;

// Correct color
$success-color: #6cbc3d;

// Background color
$background-secondary-color: #e5e5e5;
