@use "../../../partials/global";
@use "../../../partials/mixins" as *;
@use "../../../partials/variables" as *;

body {
	max-height: 100vh;
}

.user-info {
	margin-bottom: 1rem;
	width: 100%;
	padding: 0 1rem;

	&__username {
		@include sub-heading;
		text-align: center;
		color: $success-color;
	}

	&__progressbar {
		position: relative;
		width: 100%;
		height: 2rem;
		margin: 0 auto;
		background-color: #ddd;
		border-radius: 0.625rem;

		@include tablet-breakpoint {
			height: 3rem;
			width: 80%;
		}
	}

	&__barstatus {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $success-color;
		border-radius: 0.625rem;
		transition: background-color 500ms ease;

		&--middle {
			background-color: $highlight-color;
		}

		&--end {
			background-color: $error-color;
		}
	}
}

.fwf {
	&__title {
		@include heading;
		text-align: center;
	}

	&__display {
		min-height: 60vh;
		max-width: 36rem;
		padding: 1rem;
		margin: 0 auto;
		@include tablet-breakpoint {
			max-width: 46rem;
		}
	}

	&__flag-container {
		margin: 1rem auto 2rem;
		max-width: 25rem;
		position: relative;
		aspect-ratio: 6/3;
		@include tablet-breakpoint {
			max-width: 46rem;
		}
	}

	&__options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		@include tablet-breakpoint {
			flex-flow: row wrap;
			gap: 2rem;
		}
	}

	&__country-option {
		@include btn;
		@include clear-text;
		padding: 1rem;
		width: 100%;

		@include tablet-breakpoint {
			width: 45%;
			padding: 1.5rem;
		}

		&--active {
			color: $font-primary-color;
			background-color: $highlight-color;

			&:hover {
				color: $font-primary-color;
				background-color: $highlight-color;
			}
		}

		&--incorrect {
			background-color: $error-color !important;
		}

		&--correct {
			background-color: $success-color !important;
		}
	}

	&__gameover {
		display: none;
		text-align: center;

		&-heading {
			@include sub-heading;
			color: $error-color;
		}

		&-reason {
			@include table-heading;
			margin-top: -1rem;
		}

		&-img {
			aspect-ratio: 6/6;
			margin: 1rem;
			max-height: 30rem;
			margin: auto;
		}
	}

	&__results-button {
		@include btn-large;
		display: inline-block;
		position: relative;
		margin: 1rem;
	}
}
