@use "../../../partials/global";
@use "../../../partials/mixins" as *;
@use "../../../partials/variables" as *;

body {
	max-height: 100vh;
}

.fwf {
	&__title {
		@include heading;
		text-align: center;
	}

	&__display {
		margin: 0 2rem;

		@include mobile-breakpoint {
			max-width: 30rem;
			margin: 0 auto;
		}

		@include tablet-breakpoint {
			max-width: 46rem;
			margin: 0 auto;
		}
	}

	&__results-button {
		@include btn-large;
		display: inline-block;
		position: relative;
		margin: 1rem;
	}
}

.user-info {
	width: 100%;

	@include tablet-breakpoint {
		margin: 0 auto 2rem;
		width: 80%;
	}

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}

	&__username {
		@include sub-heading;
		color: $highlight-color;
	}

	&__currentscore {
		@include sub-heading;
		margin-left: auto;
		color: $success-color;
	}

	&__question-total {
		margin-left: auto;
		font-size: 0.7rem;

		@include tablet-breakpoint {
			font-size: 1rem;
		}
	}
}

.progressbar {
	position: relative;
	width: 100%;
	height: 2rem;
	margin: 0 auto;
	background-color: #ddd;
	border-radius: 0.625rem;

	@include tablet-breakpoint {
		height: 3rem;
	}

	&__barstatus {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $success-color;
		border-radius: 0.625rem;
		transition: background-color 500ms ease;

		&--middle {
			background-color: $highlight-color;
		}

		&--end {
			background-color: $error-color;
		}
	}
}

.trivia {
	outline: blue 2px dotted;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: calc(100vw - 4rem);
	overflow-x: scroll;
	// &::-webkit-scrollbar {
	// 	display: none;
	// }

	// -ms-overflow-style: none; /* IE and Edge */
	// scrollbar-width: none; /* Firefox */

	overscroll-behavior-inline: contain;
	gap: 2rem;
	transition: margin-left;

	@include mobile-breakpoint {
		grid-auto-columns: 30rem;
	}

	@include tablet-breakpoint {
		grid-auto-columns: 46rem;
	}

	&__question {
		margin-bottom: 2rem;
	}

	&__flag-container {
		margin: 1rem auto 2rem;
		max-width: 25rem;
		position: relative;
		aspect-ratio: 6/3;

		@include tablet-breakpoint {
			max-width: 46rem;
		}
	}

	&__options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding-right: 8px;

		@include tablet-breakpoint {
			flex-flow: row wrap;
			gap: 2rem;
		}
	}

	&__country-option {
		@include btn;
		@include clear-text;
		padding: 1rem;
		width: 100%;

		@include tablet-breakpoint {
			width: 45%;
			padding: 1.5rem;
		}

		&--active {
			color: $font-primary-color;
			background-color: $highlight-second;
			box-shadow: 4px 4px 0px 4px $highlight-second;

			@include desktop-breakpoint {
				box-shadow: 4px 4px 0px 4px $highlight-second;
			}
		}

		&--incorrect {
			background-color: $error-color !important;
			box-shadow: 4px 4px 0px 4px $error-color !important;
		}

		&--correct {
			background-color: $success-color !important;
			box-shadow: 4px 4px 0px 4px $success-color !important;
		}
	}

	&__animate {
		margin-left: -30rem;
	}
}

@keyframes sweep {
	to {
		margin-left: -30rem;
	}
}

.gameover {
	text-align: center;

	.title {
		font-size: 2.6rem;

		@include tablet-breakpoint() {
			font-size: 4.2rem;
		}

		&__word {
			background: $error-gradient;
			background-clip: text;
		}

		&__word--shadow {
			text-shadow: 2px 4px 2px $highlight-second;

			@include tablet-breakpoint {
				text-shadow: 2px 9px 2px rgb(255, 135, 45);
			}
		}
	}

	&__reason {
		@include table-heading;
		color: $error-color;

		&--success {
			color: $success-color;
		}
	}

	&__img {
		aspect-ratio: 6/6;
		margin: 1rem auto;
		max-height: 30rem;

		@include tablet-breakpoint {
			margin: auto;
		}
	}
}
