*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}

img {
  height: 100%;
  width: 100%;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "ArcadeInterlaced";
  src: url(/assets/fonts/ARCADE_I.TTF) format("truetype"), url(/assets/fonts/ARCADE_I.woff) format("woff"), url(/assets/fonts/ARCADE_I.woff2) format("woff2"), url(/assets/fonts/ARCADE_I.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arcade";
  src: url(/assets/fonts/ARCADE_N.TTF) format("truetype"), url(/assets/fonts/ARCADE_N.woff) format("woff"), url(/assets/fonts/ARCADE_N.woff2) format("woff2"), url(/assets/fonts/ARCADE_N.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(/assets/fonts/AvenirNext-Regular.ttf) format("truetype"), url(/assets/fonts/AvenirNext-Regular.woff) format("woff"), url(/assets/fonts/AvenirNext-Regular.woff2) format("woff2"), url(/assets/fonts/AvenirNext-Regular.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
body {
  position: relative;
  font-family: "Arcade", "Courier New", Courier, monospace;
  font-size: 0.8rem;
  height: 100%;
  min-height: 97vh;
  background-color: #2e2e2e;
  color: #e5e5e5;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

main {
  z-index: 3;
}

.header__title {
  font-family: "ArcadeInterlaced", "Arcade";
  margin: 1.5rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #e5e5e5;
  display: flex;
  flex-flow: wrap row;
  gap: 1rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .header__title {
    flex-direction: row;
  }
}
.header__title-word-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.header__title-word {
  background: linear-gradient(rgb(255, 216, 62), rgb(255, 182, 43), rgb(255, 135, 45), rgb(255, 105, 27), rgb(255, 69, 19), rgb(255, 45, 16));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.header__title-word--shadow {
  z-index: 0;
  position: absolute;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 4px 2px blue;
}
@media (min-width: 768px) {
  .header__title-word--shadow {
    font-size: 3.9rem;
    text-shadow: 2px 9px 2px blue;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

body {
  max-height: 100vh;
}

.user-info {
  margin-bottom: 1rem;
  width: 100%;
  padding: 0 1rem;
}
.user-info__username {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e5e5e5;
  text-align: center;
  color: rgb(255, 216, 62);
}
@media (min-width: 768px) {
  .user-info__username {
    font-size: 2rem;
  }
}
.user-info__progressbar {
  position: relative;
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  background-color: #ddd;
  border-radius: 0.625rem;
}
@media (min-width: 768px) {
  .user-info__progressbar {
    height: 3rem;
    width: 80%;
  }
}
.user-info__barstatus {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6cbc3d;
  border-radius: 0.625rem;
  transition: background-color 500ms ease;
}
.user-info__barstatus--middle {
  background-color: rgb(255, 216, 62);
}
.user-info__barstatus--end {
  background-color: rgb(255, 45, 16);
}

.fwf {
  padding: 0 1rem 1rem;
}
.fwf__title {
  font-family: "ArcadeInterlaced", "Arcade";
  margin: 1.5rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #e5e5e5;
  text-align: center;
}
@media (min-width: 768px) {
  .fwf__title {
    font-size: 4rem;
  }
}
.fwf__display {
  min-height: 60vh;
  max-width: 36rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .fwf__display {
    max-width: 46rem;
  }
}
.fwf__flag-container {
  margin: 1rem auto 2rem;
  max-width: 25rem;
  position: relative;
  aspect-ratio: 6/3;
}
@media (min-width: 768px) {
  .fwf__flag-container {
    max-width: 46rem;
  }
}
.fwf__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .fwf__options {
    flex-flow: row wrap;
    gap: 2rem;
  }
}
.fwf__country-option {
  font-family: "Arcade";
  background-color: rgb(255, 216, 62);
  color: #2e2e2e;
  box-shadow: 4px 4px 0px 2px rgb(210, 174, 28);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.625rem;
  text-align: center;
  font-family: "AvenirNext", Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
}
.fwf__country-option:active {
  background-color: rgb(210, 174, 28);
}
@media (min-width: 1280px) {
  .fwf__country-option:hover {
    background-color: rgb(210, 174, 28);
    box-shadow: 4px 4px 0px 2px rgb(255, 216, 62);
  }
}
@media (min-width: 768px) {
  .fwf__country-option {
    width: 45%;
    padding: 1.5rem;
  }
}
.fwf__country-option--active {
  background-color: rgb(210, 174, 28);
  box-shadow: 4px 4px 0px 2px rgb(210, 174, 28);
}
.fwf__country-option--incorrect {
  background-color: rgb(255, 45, 16) !important;
  box-shadow: 4px 4px 0px 2px rgb(255, 45, 16) !important;
}
.fwf__country-option--correct {
  background-color: #6cbc3d !important;
  box-shadow: 4px 4px 0px 2px #6cbc3d !important;
}
.fwf__gameover {
  text-align: center;
}
.fwf__gameover-reason {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e5e5e5;
  color: rgb(255, 45, 16);
}
@media (min-width: 768px) {
  .fwf__gameover-reason {
    font-size: 2rem;
  }
}
.fwf__gameover-img {
  aspect-ratio: 6/6;
  margin: 1rem auto;
  max-height: 30rem;
}
@media (min-width: 768px) {
  .fwf__gameover-img {
    margin: auto;
  }
}
.fwf__results-button {
  font-family: "Arcade";
  background-color: rgb(255, 216, 62);
  color: #2e2e2e;
  border: none;
  box-shadow: 4px 4px 0px 2px rgb(210, 174, 28);
  border-radius: 0.625rem;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  line-height: 2.5rem;
  text-align: center;
  display: inline-block;
  position: relative;
  margin: 1rem;
}
.fwf__results-button:active {
  background-color: rgb(210, 174, 28);
  box-shadow: 4px 4px 0px 2px rgb(255, 216, 62);
}
@media (min-width: 1280px) {
  .fwf__results-button:hover {
    background-color: rgb(210, 174, 28);
    box-shadow: 4px 4px 0px 2px rgb(255, 216, 62);
  }
}/*# sourceMappingURL=FWFGame.css.map */