@use "../../../partials/global";
@use "../../../partials/mixins" as *;
@use "../../../partials/variables" as *;

.header {
	flex-direction: column;
}

.results {
	&__container {
		padding: 1rem;
		@include tablet-breakpoint {
			display: flex;
		}
	}
	&__column {
		border: 0.015625rem solid $font-primary-color;
		background-color: $font-white;
		@include tablet-breakpoint {
			width: 50%;
		}
	}
	&__column-title {
		margin: 0;
		padding: 2rem;
		text-align: center;
		color: $font-white;
		border-bottom: 0.015625rem solid $font-primary-color;
		text-transform: capitalize;

		&--correct {
			background-color: $success-color;
		}
		&--incorrect {
			background-color: $error-color;
		}
	}
	&__row {
		display: flex;
		max-height: 4rem;
		padding: 1rem;
		align-items: center;
		background-color: $font-white;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}

	&__flag {
		width: 20%;
		max-height: 4rem;

		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	}

	&__country {
		margin-left: 1rem;
		width: 40%;
		color: $font-primary-color;
	}
}

.scoreboard {
	width: 100%;
	margin-bottom: 1rem;

	&__title {
		color: $font-primary-color;
		text-align: center;
		margin: 1.5rem 0;
	}

	&__difficulty {
		display: flex;
		gap: 1rem;
		padding: 0 1rem;

		&-title {
			margin-bottom: 1rem;
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		margin-top: 0.3rem;
	}

	&__name {
		font-weight: bold;
	}

	&__score {
		font-weight: bold;
		color: $font-white;
		background-color: $success-color;
		border-radius: 20px;
		padding: 0 0.3rem;
		font-family: "Courier New", Courier, monospace;
	}
}
