*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}

img {
  height: 100%;
  width: 100%;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "ArcadeInterlaced";
  src: url(/assets/fonts/ARCADE_I.TTF) format("truetype"), url(/assets/fonts/ARCADE_I.woff) format("woff"), url(/assets/fonts/ARCADE_I.woff2) format("woff2"), url(/assets/fonts/ARCADE_I.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arcade";
  src: url(/assets/fonts/ARCADE_N.TTF) format("truetype"), url(/assets/fonts/ARCADE_N.woff) format("woff"), url(/assets/fonts/ARCADE_N.woff2) format("woff2"), url(/assets/fonts/ARCADE_N.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url(/assets/fonts/AvenirNext-Regular.ttf) format("truetype"), url(/assets/fonts/AvenirNext-Regular.woff) format("woff"), url(/assets/fonts/AvenirNext-Regular.woff2) format("woff2"), url(/assets/fonts/AvenirNext-Regular.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
body {
  position: relative;
  font-family: "Arcade", "Courier New", Courier, monospace;
  font-size: 0.8rem;
  height: 100%;
  min-height: 97vh;
  overflow: hidden;
  background-color: #2e2e2e;
  color: #e5e5e5;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

main {
  z-index: 3;
}

.title {
  font-family: "ArcadeInterlaced", "Arcade";
  margin: 1.5rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #e5e5e5;
  display: flex;
  flex-flow: wrap row;
  gap: 1rem;
  justify-content: center;
}
@media (min-width: 768px) {
  .title {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .title {
    flex-direction: row;
  }
}
.title__word-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.title__word {
  background: linear-gradient(rgb(255, 216, 62), rgb(255, 182, 43), rgb(255, 135, 45), rgb(255, 105, 27), rgb(255, 69, 19), rgb(255, 45, 16));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.title__word--shadow {
  z-index: 0;
  position: absolute;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 4px 2px blue;
}
@media (min-width: 768px) {
  .title__word--shadow {
    font-size: 3.9rem;
    text-shadow: 2px 9px 2px blue;
  }
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 1rem;
}
.header__logo {
  aspect-ratio: 4/6;
  width: 30%;
  max-width: 9.375rem;
  margin: 0 auto;
}
.header__play-again {
  font-family: "Arcade";
  background-color: rgb(255, 216, 62);
  color: #2e2e2e;
  border: none;
  box-shadow: 4px 4px 0px 2px rgb(210, 174, 28);
  border-radius: 0.625rem;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin: 0 auto;
  line-height: 2.5rem;
  text-align: center;
  margin: 1rem auto;
  width: 90%;
}
.header__play-again:active {
  background-color: rgb(210, 174, 28);
  box-shadow: 4px 4px 0px 2px rgb(255, 216, 62);
}
@media (min-width: 1280px) {
  .header__play-again:hover {
    background-color: rgb(210, 174, 28);
    box-shadow: 4px 4px 0px 2px rgb(255, 216, 62);
  }
}
@media (min-width: 768px) {
  .header__play-again {
    width: 50%;
  }
}

@-webkit-keyframes blink-aqua {
  50% {
    background-color: aqua;
  }
  to {
    background-color: #2e2e2e;
  }
}

@keyframes blink-aqua {
  50% {
    background-color: aqua;
  }
  to {
    background-color: #2e2e2e;
  }
}
.nav {
  display: flex;
  width: 100%;
  align-items: center;
}
.nav__slide {
  font-size: 3rem;
  margin-top: -15px;
  cursor: pointer;
}
.nav__slide:active {
  color: rgb(255, 216, 62);
}
.nav__slide--left {
  margin-right: auto;
}
.nav__slide--right {
  margin-left: auto;
}

.results {
  overflow: hidden;
}
.results__title {
  overflow: hidden;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e5e5e5;
  text-align: center;
}
@media (min-width: 768px) {
  .results__title {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .results__container {
    display: flex;
  }
}
.results__column {
  border: 0.015625rem solid #e5e5e5;
  margin: 0 1rem 1rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .results__column {
    width: 50%;
  }
}
.results__column-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #e5e5e5;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  border-bottom: 0.015625rem solid #e5e5e5;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .results__column-title {
    font-size: 1.5rem;
  }
}
.results__column-title--correct {
  background-color: #6cbc3d;
}
.results__column-title--incorrect {
  background-color: rgb(255, 45, 16);
}
.results__row {
  font-family: "AvenirNext", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
  max-height: 4rem;
  padding: 1rem;
  align-items: center;
}
.results__row:hover {
  cursor: pointer;
  transform: scaleY(1.2);
  box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.3), 0px -4px 4px rgba(255, 255, 255, 0.3);
}
.results__flag {
  width: 30%;
  max-height: 4rem;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.3);
}
.results__country {
  padding-right: 0.5rem;
  margin-right: auto;
}
.results__incorrect-country {
  padding-right: 0.5rem;
  text-align: right;
  text-decoration: line-through;
  color: rgb(255, 45, 16);
}

.scoreboard {
  overflow: hidden;
  margin: 0 1rem;
}
.scoreboard__title {
  overflow: hidden;
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #e5e5e5;
  color: #e5e5e5;
  text-align: center;
  margin: 1.5rem 0;
}
@media (min-width: 768px) {
  .scoreboard__title {
    font-size: 2rem;
  }
}
.scoreboard__difficulty {
  font-family: "ArcadeInterlaced";
}
.scoreboard__table-header {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #e5e5e5;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 0.35rem;
}
@media (min-width: 768px) {
  .scoreboard__table-header {
    font-size: 1.5rem;
  }
}
.scoreboard__row {
  display: flex;
  margin-top: 0.3rem;
}
.scoreboard__rank {
  font-size: 0.8rem;
  text-align: left;
  width: 22%;
}
.scoreboard__score {
  font-size: 1rem;
  text-align: right;
  width: 33%;
}
.scoreboard__name {
  text-align: right;
  width: 44%;
}
.scoreboard__current-score {
  background-color: #2e2e2e;
  -webkit-animation: blink-aqua 1500ms infinite ease-in;
          animation: blink-aqua 1500ms infinite ease-in;
}
.scoreboard__elipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Arcade";
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem auto;
  margin-left: 1rem;
}

.footer {
  margin-top: auto;
  width: 100%;
  text-align: center;
  color: #7c7c7c;
}
.footer__sign {
  margin: 1rem 0;
  font-size: 0.5rem;
}/*# sourceMappingURL=ResultsPage.css.map */