@use "../../../partials/global";
@use "../../../partials/mixins" as *;
@use "../../../partials/variables" as *;

body {
	display: flex;
	flex-direction: column;
}

.header {
	padding-top: 1rem;

	&__logo {
		aspect-ratio: 4/6;
		width: 30%;
		max-width: 9.375rem;
		margin: 0 auto;
	}

	&__play-again {
		@include btn-large;
		margin: 1rem auto;
		width: 90%;
		@include tablet-breakpoint {
			width: 50%;
		}
	}
}

@keyframes blink-aqua {
	50% {
		background-color: aqua;
	}

	to {
		background-color: $background-secondary-color;
	}
}

.nav {
	display: flex;
	width: 100%;
	align-items: center;

	&__slide {
		font-size: 3rem;
		margin-top: -15px;
		cursor: pointer;

		&:active {
			color: $highlight-color;
		}

		&--left {
			margin-right: auto;
		}

		&--right {
			margin-left: auto;
		}
	}
}

.results {
	overflow: hidden;

	&__title {
		overflow: hidden;
		@include sub-heading;
		text-align: center;
	}

	&__container {
		@include tablet-breakpoint {
			display: flex;
		}
	}

	&__column {
		border: 0.015625rem solid $font-primary-color;
		margin: 0 1rem 1rem;
		padding-bottom: 0.5rem;

		@include tablet-breakpoint {
			width: 50%;
		}
	}

	&__column-title {
		@include table-heading;
		padding: 2rem;
		text-align: center;
		color: $font-white;
		border-bottom: 0.015625rem solid $font-primary-color;
		text-transform: uppercase;

		&--correct {
			background-color: $success-color;
		}

		&--incorrect {
			background-color: $error-color;
		}
	}

	&__row {
		@include clear-text;
		display: flex;
		justify-content: space-evenly;
		max-height: 4rem;
		padding: 1rem;
		align-items: center;

		&:hover {
			cursor: pointer;
			transform: scaleY(1.2);
			box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.3),
				0px -4px 4px rgba(255, 255, 255, 0.3);
		}
	}

	&__flag {
		width: 30%;
		max-height: 4rem;
		box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3),
			-2px -2px 4px rgba(255, 255, 255, 0.3);
	}

	&__country {
		padding-right: 0.5rem;
		margin-right: auto;
	}

	&__incorrect-country {
		padding-right: 0.5rem;
		text-align: right;
		text-decoration: line-through;
		color: $error-color;
	}
}

.scoreboard {
	overflow: hidden;
	margin: 0 1rem;

	&__title {
		overflow: hidden;
		@include sub-heading;
		color: $font-primary-color;
		text-align: center;
		margin: 1.5rem 0;
	}

	&__difficulty {
		font-family: "ArcadeInterlaced";
	}

	&__table-header {
		@include table-heading;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $font-primary-color;
		padding-bottom: 0.35rem;
	}

	&__row {
		display: flex;
		margin-top: 0.3rem;
	}

	&__rank {
		font-size: 0.8rem;
		text-align: left;
		width: 22%;
	}

	&__score {
		font-size: 1rem;
		text-align: right;
		width: 33%;
	}

	&__name {
		text-align: right;
		width: 44%;
	}

	&__current-score {
		background-color: $background-secondary-color;
		animation: blink-aqua 1500ms infinite ease-in;
	}

	&__elipsis {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Arcade";
		font-size: 1rem;
		text-align: center;
		margin: 0.5rem auto;
		margin-left: 1rem;
	}
}

.footer {
	margin-top: auto;
	width: 100%;
	text-align: center;
	color: $font-secondary-color;

	&__sign {
		margin: 1rem 0;
		font-size: 0.5rem;
	}
}
