*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}

img {
  height: 100%;
  width: 100%;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "ArcadeInterlaced";
  src: url(/assets/fonts/ARCADE_I.TTF) format("truetype"), url(/assets/fonts/ARCADE_I.woff) format("woff"), url(/assets/fonts/ARCADE_I.woff2) format("woff2"), url(/assets/fonts/ARCADE_I.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arcade";
  src: url(/assets/fonts/ARCADE_N.TTF) format("truetype"), url(/assets/fonts/ARCADE_N.woff) format("woff"), url(/assets/fonts/ARCADE_N.woff2) format("woff2"), url(/assets/fonts/ARCADE_N.svg) format("svg");
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: "Arcade", "Courier New", Courier, monospace;
  font-size: 0.8rem;
  min-height: 100%;
  background-color: #e5e5e5;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.header {
  background-color: #2e2e2e;
  color: #7c7c7c;
  padding: 1rem;
  display: flex;
  align-items: center;
}
.header__logo {
  font-size: 0;
  width: 3rem;
}
.header__title {
  margin: 1.5rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #2e2e2e;
  text-align: center;
  color: #ffffff;
  margin-right: 1rem;
}
.header__play-again {
  font-family: "Arcade";
  font-size: 0.6rem;
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.625rem;
  margin: 1rem 0;
  font-size: 1rem;
  background-color: #ffdf6c;
  color: #2e2e2e;
  text-transform: uppercase;
}
.header__play-again:hover {
  background-color: #ffdf6c;
  color: #2e2e2e;
}

.footer {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  background: #2e2e2e;
  text-align: center;
  color: #ffffff;
}
.footer__sign {
  margin: auto;
  font-size: 0.5rem;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.header {
  flex-direction: column;
}

@-webkit-keyframes blink {
  from {
    background-color: #e5e5e5;
  }
  50% {
    background-color: aqua;
  }
  to {
    background-color: #e5e5e5;
  }
}

@keyframes blink {
  from {
    background-color: #e5e5e5;
  }
  50% {
    background-color: aqua;
  }
  to {
    background-color: #e5e5e5;
  }
}
.results__title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #2e2e2e;
  text-align: center;
}
@media (min-width: 768px) {
  .results__container {
    display: flex;
  }
}
.results__column {
  border: 0.015625rem solid #2e2e2e;
  background-color: #ffffff;
  margin: 0 1rem 1rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .results__column {
    width: 50%;
  }
}
.results__column-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #2e2e2e;
  padding: 2rem;
  text-align: center;
  color: #ffffff;
  border-bottom: 0.015625rem solid #2e2e2e;
  text-transform: uppercase;
}
.results__column-title--correct {
  background-color: #6cbc3d;
}
.results__column-title--incorrect {
  background-color: #e2482d;
}
.results__row {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
  max-height: 4rem;
  padding: 1rem;
  align-items: center;
  background-color: #ffffff;
}
.results__row:hover {
  cursor: pointer;
  transform: scaleY(1.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3), 0px -4px 4px rgba(0, 0, 0, 0.3);
}
.results__flag {
  width: 30%;
  max-height: 4rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.results__country {
  padding-right: 0.5rem;
  margin-right: auto;
}
.results__incorrect-country {
  padding-right: 0.5rem;
  text-align: right;
  text-decoration: line-through;
  color: #e2482d;
}

.scoreboard {
  margin-bottom: 1rem;
  margin: 0 auto;
}
.scoreboard__title {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #2e2e2e;
  color: #2e2e2e;
  text-align: center;
  margin: 1.5rem 0;
}
.scoreboard__difficulty {
  font-family: "ArcadeInterlaced";
  padding: 0 1rem;
}
.scoreboard__table-header {
  margin-bottom: 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: #2e2e2e;
  display: flex;
  justify-content: space-between;
}
.scoreboard__row {
  display: flex;
  margin-top: 0.3rem;
}
.scoreboard__rank {
  font-size: 0.8rem;
  text-align: left;
  width: 22%;
}
.scoreboard__score {
  font-size: 1rem;
  text-align: right;
  width: 33%;
}
.scoreboard__name {
  text-align: right;
  width: 44%;
}
.scoreboard__current-score {
  background-color: #e5e5e5;
  -webkit-animation: blink 1500ms infinite ease-in;
          animation: blink 1500ms infinite ease-in;
}/*# sourceMappingURL=ResultsPage.css.map */