@use "../../../partials/global";
@use "../../../partials/mixins" as *;
@use "../../../partials/variables" as *;

.header {
	flex-direction: column;
	&__play-again {
		padding: 1rem;
		font-size: 1.3rem;
		background-color: $success-color;
		color: $font-white;
	}
}

@keyframes blink {
	from {
		background-color: $background-secondary-color;
	}

	50% {
		background-color: aqua;
	}

	to {
		background-color: $background-secondary-color;
	}
}

.results {
	&__title {
		@include sub-heading;
		text-align: center;
	}

	&__container {
		@include tablet-breakpoint {
			display: flex;
		}
	}

	&__column {
		border: 0.015625rem solid $font-primary-color;
		background-color: $font-white;
		margin: 0 1rem 1rem;
		padding-bottom: 0.5rem;
		@include tablet-breakpoint {
			width: 50%;
		}
	}

	&__column-title {
		@include table-heading;
		padding: 2rem;
		text-align: center;
		color: $font-white;
		border-bottom: 0.015625rem solid $font-primary-color;
		text-transform: uppercase;

		&--correct {
			background-color: $success-color;
		}

		&--incorrect {
			background-color: $error-color;
		}
	}

	&__row {
		@include clear-text;
		display: flex;
		justify-content: space-evenly;
		max-height: 4rem;
		padding: 1rem;
		align-items: center;
		background-color: $font-white;

		&:hover {
			cursor: pointer;
			transform: scaleY(1.2);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3),
				0px -4px 4px rgba(0, 0, 0, 0.3);
		}
	}

	&__flag {
		width: 30%;
		max-height: 4rem;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	}

	&__country {
		padding-right: 0.5rem;
		margin-right: auto;
	}

	&__incorrect-country {
		padding-right: 0.5rem;
		text-align: right;
		text-decoration: line-through;
		color: $error-color;
	}
}

.scoreboard {
	margin-bottom: 1rem;
	margin: 0 auto;

	&__title {
		@include sub-heading;
		color: $font-primary-color;
		text-align: center;
		margin: 1.5rem 0;
	}

	&__difficulty {
		font-family: "ArcadeInterlaced";
		padding: 0 1rem;
	}

	&__table-header {
		@include table-heading;
		display: flex;
		justify-content: space-between;
	}

	&__row {
		display: flex;
		margin-top: 0.3rem;
	}

	&__rank {
		font-size: 0.8rem;
		text-align: left;
		width: 22%;
	}
	&__score {
		font-size: 1rem;
		text-align: right;
		width: 33%;
	}
	&__name {
		text-align: right;
		width: 44%;
	}

	&__current-score {
		background-color: $background-secondary-color;
		animation: blink 1500ms infinite ease-in;
	}
}
